<div class="jumbotron">
  <h1>Controller Quiz</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h2>Instructions</h2>
  <ul>
    <li>create a <code>Brick</code> controller and add it to the module</li>
    <li>add the controller to the template with the name <code>brick</code></li>
    <li>add properties to the controller with the data from the template</li>
    <li>replace the hard-coded values in the template with expressions that get their value from the controller</li>
  </ul>
</div>
